{% extends "base_site.html" %}

{% block content %}
    <h1>고용증대 세액공제를 위한 상시근로자수 계산</h1>

    <p>조세특례제한법 제29조의 7 (법 2022.01.01 시행, 시행령 2022.01.01 시행 반영)</p>

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>사업개시일자</h3>

        만약 법인의 설립 등기일이 2017년 1월 1일 이후일 경우 사업개시일자를 수정해주세요.<br>
        개인사업자의 경우 수정할 필요가 없습니다.<br>
        형식은 '2017-01-01'과 같이 작대기(-)로 년월일이 나누어져 있어야 합니다.<br><br>
        사업개시일자 : {{ date_form.date }}

        <h3>사원 파일 업로드</h3>

        제 블로그에 첨부된 <a href="https://blog.naver.com/karimoon/222580181361">업로드 양식 파일</a>을 수정하여 사원정보를 등록해주세요.<br>
        파일을 첨부하고 계산버튼을 누르면 계산 결과 엑셀파일이 자동으로 다운로드됩니다.<br><br>
        {{ upload_file_form.file }}
        <input type="submit" value="계산">
    </form>

    <br><p>엑셀파일의 양식이 다르거나 파일이 열린 상태로 업로드하는 경우 서버 에러가 뜹니다.</p>
{% endblock %}